@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeinup {
  animation: fadeinup 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
}
